{% extends 'partials/_base.html' %}

{% load static %}

{% block content %}
    <!-- Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Team Members</h5>
                <h1 class="mb-0">Professional Stuffs Ready to Help Your Business</h1>
            </div>
            <div class="row g-5">
                {%  for tim in team   %}
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{tim.image.url}}" alt="">
                            
                            <div class="team-social">
                                {% for socmedia in tim.socmedia_set.all %}
                                    <a class="btn btn-lg btn-primary btn-lg-square rounded"   href="{{ socmedia.link }}"><img class="img-fluid w-48" src="{{socmedia.icon.url}}" alt=""></a>
                                {% endfor %}
                            </div>
                            
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">{{tim.name}}</h4>
                            <p class="text-uppercase m-0">{{tim.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
{% endblock %}